@import "./partials/reset";

// Media queries mixin

@mixin respond-at($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}
$bp-xsmall: 600px;
$bp-small: 780px;
$bp-med: 1060px;
$bp-large: 1400px;

:root {
  // Colors
  --background-color: rgb(224, 224, 224);
  --background-color-text: rgb(32, 32, 32);
  --primary-color: black;
  --primary-color-active: rgb(97, 97, 97);
  --primary-light: rgb(226, 226, 226);
  --primary-dark: grey;
  --alert: #ff930f;
  --alert-green: #3dbc12;
  --alert-green-dark: #2a8e08;
  --card-background: #ffffff;
}

body {
  &.dark-mode {
    --background-color: white;
    --background-color-text: black;
    --primary-color: black;
    --primary-light: rgb(226, 226, 226);
    --primary-dark: grey;
    --alert: #ff930f;
    --alert-green: #3dbc12;
    --alert-green-dark: #2a8e08;
  }

  background-color: var(--background-color);
  // Benton Sans Light
  font-family: benton-sans, sans-serif;
  font-weight: 300;
  font-style: normal;

  // // Benton Sans Medium
  // font-family: benton-sans, sans-serif;
  // font-weight: 600;
  // font-style: normal;

  // // Benton Sans Bold
  // font-family: benton-sans, sans-serif;
  // font-weight: 700;
  // font-style: normal;

  // // Benton Sans Bold Italic
  // font-family: benton-sans, sans-serif;
  // font-weight: 700;
  // font-style: italic;

  // // Benton Sans Condensed Bold
  // font-family: benton-sans-condensed, sans-serif;
  // font-weight: 700;
  // font-style: normal;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@import "./partials/card-grid";
@import "./partials/data-card";
@import "./partials/chart";
