.cards-section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}

.card-sort__container {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

.card-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--card-background);
  padding: 10px 20px;
  border-radius: 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.sort-order--reversed svg {
  transform: (rotate(180deg));
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 1em 2em;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @include respond-at($bp-xsmall) {
      grid-row-gap: 15px;
    }
  }
}

.sort-order-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 10px;
}

.sort-selector svg {
  display: none;
}

.selected-item--selected svg {
  display: block;
}
